# workflow name 
name: CI-CD workflow

#trigger
on:
  push:
    branches: 
        - main

 #define jobs
jobs:
  test-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: pip install -r requirements.txt 

      - name: Run tests
        run: pytest --cov=calc --cov-report=term
           
  deploy-job:
    runs-on: ubuntu-latest
    needs: test-job
    steps:
      - name: print message
        run: echo "deploy job started"
        